#btn{
    color:rgb(255, 136, 0);
}
#btn:hover{
    background-color: aqua;
}
#btn:active{
    background-color: blue;
    color:crimson;
}
#btn a:visited{
    color:rgb(0, 248, 41);
}
#list{
    color:rgb(240, 0, 0);
}

#list>li:first-child{
    color:grey;
}

#list>li:last-child{
    color:aqua;
}
#list>li:nth-child(3){
    color:rgb(249, 249, 0);
}
#list>li:nth-child(5){
    color:rgb(129, 6, 244);
}
p:not(.special) {
    background-color: darkcyan;
}
